@foreach (IDocument doc in Context.OutputPages.Where(x => x.GetBool("ShowInNavbar", x.GetBool("IsPage"))).OrderBy(x => x.GetInt(Keys.Order)))
{
    @if (doc.GetString("NavbarStyle") == "dropdown")
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                @(doc.GetString("NavbarTitle") ?? doc.GetTitle())
            </a>
            <div class="dropdown-menu">
                @foreach(IDocument child in doc
                    .GetChildren()
                    .Where(x => x.GetBool("ShowInNavDropdown", true))
                    .OrderByDescending(x => x.GetString("NavbarTitle")))
                {
                    @Html.DocumentLink(child, child.GetString("NavbarTitle"), new Dictionary<object, object> { ["class"] = "dropdown-item" })
                }
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            @Html.DocumentLink(doc, doc.GetString("NavbarTitle"), new Dictionary<object, object> { { "class", "nav-link" } })
        </li>
    }
}
    