<section class="section container content__spacing" id="about__content">
    <p>
        Hi 👋 my name is Vike and I'm a 23 year old that lives in Brisbane, Australia.
        I work as a software engineer remotely for a large tech company based in the US where I develop software that is used by millions of people every day.
    </p>
    <p>
        Outside of work I play competitive Mario Kart 8 Deluxe and am one of the staff members at <a href="https://mkc.gg/">MarioKartCentral</a>.
        I am also the developer of the <a href="https://www.mk8dx-lounge.com">150cc Lounge website</a> and the owner of the <a href="https://bit.ly/AlternateTTs">Shroomless TT Leaderboards</a>.
    </p>
    <p>
        If you would like to contact me you can reach me on Discord (Vike#9470) or Twitter (<a href="https://twitter.com/VikeMK">@@VikeMK</a>)
    </p>
</section>