ArchiveSources: => "tools/*"
ArchiveOrderKey: NavbarTitle
ArchiveOrderDescending: true
ShowInNavbar: true
NavbarStyle: dropdown
Order: 101
---
@foreach(IDocument doc in Document
    .GetChildren()
    .OrderByDescending(x => x.GetString("NavbarTitle")))
{
    <div>
        <h3>@Html.DocumentLink(doc, doc.GetString("NavbarTitle"))</h3>
    </div>
}