Title: Mario Kart 8 Deluxe Combo Finder
NavTitle: MK8DX Combo Finder
Image: /images/bg/bss.png
---
<div id="comboFinder" style="height: 500px" class="ag-theme-alpine"></div>

@section Scripts
{
	<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
	<script src="/js/combo-finder.js"></script>
	<style>
		body > .container { max-width: 100%; }
	</style>
}